.ondw-page__tab-content {
  padding-top: -$layout-05;
  // background-color: red;
}

.about-tools {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.about-title {
  font-size: 60px;
}

.test {
  // height: 400px;
  border: solid 1px black;
  // background-color: red;
}

.test2 {
  // height: 400px;
  border: solid 1px black;
  // background-color: blue;
}
