@import './mixins.scss';
@import './overrides.scss';

.ondw-page__illo {
  // position: absolute;
  // right: 25vw;
  max-height: (50vh - 10.81081081081081vh) * 1;
  margin-left: 28%;
}

.ondw-page__feather {
  height: 50vh - 10.81081081081081vh;
  padding: 0 28% 0 0;
  // background-color: red;
  // width: auto;
}

.ondw-page__spacing {
  height: 20vh;
}

.ondw-page__tab-content {
  padding-top: -$layout-05;
}

.ondw-page__r2 {
  // margin-top: rem(-40px);
  height: 50vh - 10.81081081081081vh;
  // @include ondw-page-background;
}

.ondw-page__text {
  padding: 0 5% 0 13%;
  // background-color: red;
}

.ondw-page__heading {
  padding-bottom: $spacing-05;
  @include carbon--type-style('productive-heading-07');
  @include carbon--font-weight('semibold');
  font-size: 500%;
}

.ondw-page__subheading {
  padding-bottom: $spacing-05;
  // text-align: center;
  @include carbon--type-style('productive-heading-03');
  @include carbon--font-weight('semibold');
  font-size: 200%;
}

.ondw-page__p {
  padding-bottom: $spacing-02;
  // text-align: center;
  @include carbon--type-style('productive-heading-02');
  @include carbon--font-weight('regular');
}

.ondw-page__team {
  padding-top: $spacing-03;
  padding-bottom: $spacing-04;
  bottom: 0;
  @include carbon--type-style('productive-heading-01');
}

.ondw-page__label {
  @include carbon--type-style('heading-01');
}
