@import './fonts.scss';

@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

@import './components/ArgusHeader/argus-header.scss';
@import './components/AboutComponent/about-component.scss';
@import './content/LandingPage/landing-page.scss';
@import './content/TryArgusPage/try-argus-page.scss';
@import './content/AboutArgus/about-argus.scss';
@import './content/AdminArea/admin-area.scss';
