@font-face {
  font-family: 'Lato Black';
  src: local('Lato Black'),
    url('./fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Bold';
  src: local('Lato Bold'), url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Italic';
  src: local('Lato Italic'),
    url('./fonts/Lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: local('Lato Light'),
    url('./fonts/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Regular';
  src: local('Lato Regular'),
    url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Thin';
  src: local('Lato Thin'), url('./fonts/Lato/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono Bold';
  src: local('IBMPlexMono Bold'),
    url('./fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono ExtraLight';
  src: local('IBMPlexMono ExtraLight'),
    url('./fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono Italic';
  src: local('IBMPlexMono Italic'),
    url('./fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono Light';
  src: local('IBMPlexMono Light'),
    url('./fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono Medium';
  src: local('IBMPlexMono Medium'),
    url('./fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono Regular';
  src: local('IBMPlexMono Regular'),
    url('./fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono SemiBold';
  src: local('IBMPlexMono SemiBold'),
    url('./fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono Thin';
  src: local('IBMPlexMono Thin'),
    url('./fonts/IBM_Plex_Mono/IBMPlexMono-Thin.ttf') format('truetype');
}
